{% extends 'base.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <h1>{{ error_header|default('Unbekannter Fehler') }}</h1>

    <p>{{ message|default('Bitte versuche es später erneut.') }}</p>
{% endblock %}
