{% macro skip_form() %}
    <p>Automatically continuing to next step in 2 seconds.</p>
    <script>
        window.onload = function() {
            setTimeout(function() {
                document.forms["next-form"].submit();
            }, 2000);
        }
    </script>
{% endmacro %}

