{% extends 'base.twig' %}

{% block title %}Continue to next step{% endblock %}

{% block content %}
    <h1>Continue to next step</h1>
    
    <p>{{ message }}</p>

    <form name="next-form" action="." method="post">
        <input type="hidden" name="step" value="{{ next_step }}">
        <button type="submit" class="btn btn-primary">Proceed</button>
    </form>

    <p>Continuing to next step in 2 seconds.</p>

    <script>
        window.onload = function() {
            setTimeout(function() {
                document.forms["next-form"].submit();
            }, 2000);
        }
    </script>

{% endblock %}