{% extends 'base.twig' %}

{% import 'macros.twig' as macros %}

{% block title %}Continue to next step{% endblock %}

{% block content %}
    <h1>Continue to next step</h1>

    {{ macros.skip_form() }}
    
    <p>{{ message }}</p>

    <form name="next-form" action="." method="post">
        <input type="hidden" name="step" value="{{ next_step }}">
        <button type="submit" class="btn btn-primary">Proceed</button>
    </form>
{% endblock %}